boto3
flask-wtf
flask_login
mysql-connector-python
google_images_download
httplib2
uritemplate
google-api-python-client
oauth2client
bs4
pathlib
requests
urllib3
fonttools
Pillow
pyaml
pyopenssl
exifread
LatLon
pykml
gphotospy
strip
solidAPI
solid_file
python-dotenv
